{
  "presets": [
		[ 
			"@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "corejs": "3.1.3",
        "useBuiltIns": "usage"
      }
		],
		[
			"@babel/preset-react"
		],
		[
			"@emotion/babel-preset-css-prop",
			{
				"autoLabel": true,
			  "labelFormat": "[local]"
			}
		]
  ],
  "plugins": [
		[
      "emotion"
    ],
    [
			"@babel/plugin-transform-react-jsx",
			{
      	"pragma": "wp.element.createElement"
			}
		],
		[
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
		],
		"@babel/plugin-syntax-dynamic-import"
  ]
}
